@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	margin: 0;
	font-family: 'Inter', sans-serif;
}

nav {
	display: flex;
	align-items: center;
	box-shadow: 0 5px 15px #61dafb;
	background-color: #21222a;
	padding: 15px 30px;
	height: 91px;
	width: 550px;
}

nav > img {
	width: 40px;
}

nav > h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 23px;
	color: #61dafb;
}

nav > h4 {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: ;
}
